In [1]:
import pandas as pd
import os

In [13]:
folder_path = 'E:/DS_project/archive'

In [14]:
amazon = pd.read_csv("E:/DS_project/archive/Amazon Sale Report.csv")
cloud = pd.read_csv(os.path.join(folder_path, "Cloud Warehouse Compersion Chart.csv"))
expense = pd.read_csv(os.path.join(folder_path, "Expense IIGF.csv"))
international = pd.read_csv(os.path.join(folder_path, "International sale Report.csv"))
may2022 = pd.read_csv(os.path.join(folder_path, "May-2022.csv"))
pl_march2021 = pd.read_csv(os.path.join(folder_path, "P  L March 2021.csv"))
sales = pd.read_csv(os.path.join(folder_path, "Sale Report.csv"))

C:\Users\anand\AppData\Local\Temp\ipykernel_444\2108924325.py:1: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  amazon = pd.read_csv("E:/DS_project/archive/Amazon Sale Report.csv")

In [4]:
print("\nAmazon Sale Report Columns:\n", amazon.columns.tolist())
print("\nCloud Warehouse Comparison Columns:\n", cloud.columns.tolist())
print("\nExpense Columns:\n", expense.columns.tolist())
print("\nInternational Sale Report Columns:\n", international.columns.tolist())
print("\nMay 2022 Columns:\n", may2022.columns.tolist())
print("\nP & L March 2021 Columns:\n", pl_march2021.columns.tolist())
print("\nSales Report Columns:\n", sales.columns.tolist())

Amazon Sale Report Columns:
 ['index', 'Order ID', 'Date', 'Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'SKU', 'Category', 'Size', 'ASIN', 'Courier Status', 'Qty', 'currency', 'Amount', 'ship-city', 'ship-state', 'ship-postal-code', 'ship-country', 'promotion-ids', 'B2B', 'fulfilled-by', 'Unnamed: 22']

Cloud Warehouse Comparison Columns:
 ['index', 'Shiprocket', 'Unnamed: 1', 'INCREFF']

Expense Columns:
 ['index', 'Recived Amount', 'Unnamed: 1', 'Expance', 'Unnamed: 3']

International Sale Report Columns:
 ['index', 'DATE', 'Months', 'CUSTOMER', 'Style', 'SKU', 'Size', 'PCS', 'RATE', 'GROSS AMT']

May 2022 Columns:
 ['index', 'Sku', 'Style Id', 'Catalog', 'Category', 'Weight', 'TP', 'MRP Old', 'Final MRP Old', 'Ajio MRP', 'Amazon MRP', 'Amazon FBA MRP', 'Flipkart MRP', 'Limeroad MRP', 'Myntra MRP', 'Paytm MRP', 'Snapdeal MRP']

P & L March 2021 Columns:
 ['index', 'Sku', 'Style Id', 'Catalog', 'Category', 'Weight', 'TP 1', 'TP 2', 'MRP Old', 'Final MRP Old', 'Ajio MRP', 'Amazon MRP', 'Amazon FBA MRP', 'Flipkart MRP', 'Limeroad MRP', 'Myntra MRP', 'Paytm MRP', 'Snapdeal MRP']

Sales Report Columns:
 ['index', 'SKU Code', 'Design No.', 'Stock', 'Category', 'Size', 'Color']

In [5]:
amazon.head()
sales.head()
international.head()

,index,DATE,Months,CUSTOMER,Style,SKU,Size,PCS,RATE,GROSS AMT
0,0,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-L,L,1.00,616.56,617.00
1,1,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XL,XL,1.00,616.56,617.00
2,2,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5004,MEN5004-KR-XXL,XXL,1.00,616.56,617.00
3,3,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5009,MEN5009-KR-L,L,1.00,616.56,617.00
4,4,06-05-21,Jun-21,REVATHY LOGANATHAN,MEN5011,MEN5011-KR-L,L,1.00,616.56,617.00

In [6]:
print(amazon.shape)
print(sales.shape)
print(international.shape)

(128975, 24)
(9271, 7)
(37432, 10)

In [7]:
print(amazon.isnull().sum())
print(sales.isnull().sum())

index                     0
Order ID                  0
Date                      0
Status                    0
Fulfilment                0
Sales Channel             0
ship-service-level        0
Style                     0
SKU                       0
Category                  0
Size                      0
ASIN                      0
Courier Status         6872
Qty                       0
currency               7795
Amount                 7795
ship-city                33
ship-state               33
ship-postal-code         33
ship-country             33
promotion-ids         49153
B2B                       0
fulfilled-by          89698
Unnamed: 22           49050
dtype: int64
index          0
SKU Code      83
Design No.    36
Stock         36
Category      45
Size          36
Color         45
dtype: int64

In [8]:
amazon.describe(include='all')
sales.describe(include='all')

              index SKU Code Design No.        Stock Category  Size Color
count   9271.000000     9188       9235  9235.000000     9226  9235  9226
unique          NaN     9170       1594          NaN       21    11    62
top             NaN    #REF!      J0096          NaN    KURTA     S  Blue
freq            NaN       15         10          NaN     3726  1353   782
mean    4635.000000      NaN        NaN    26.246454      NaN   NaN   NaN
std     2676.451507      NaN        NaN    58.462891      NaN   NaN   NaN
min        0.000000      NaN        NaN     0.000000      NaN   NaN   NaN
25%     2317.500000      NaN        NaN     3.000000      NaN   NaN   NaN
50%     4635.000000      NaN        NaN     8.000000      NaN   NaN   NaN
75%     6952.500000      NaN        NaN    31.000000      NaN   NaN   NaN
max     9270.000000      NaN        NaN  1234.000000      NaN   NaN   NaN