In [5]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [6]:
y_2018 = pd.read_csv(r"E:/DS_project/Data/Data/2018.csv")
y_2019 = pd.read_csv(r"E:/DS_project/Data/Data/2019.csv")

In [7]:
data =  pd.concat([y_2018, y_2019], sort = True)
data

,Country or region,Freedom to make life choices,GDP per capita,Generosity,Healthy life expectancy,Overall rank,Perceptions of corruption,Score,Social support
0,Finland,0.681,1.305,0.202,0.874,1,0.393,7.632,1.592
1,Norway,0.686,1.456,0.286,0.861,2,0.340,7.594,1.582
2,Denmark,0.683,1.351,0.284,0.868,3,0.408,7.555,1.590
3,Iceland,0.677,1.343,0.353,0.914,4,0.138,7.495,1.644
4,Switzerland,0.660,1.420,0.256,0.927,5,0.357,7.487,1.549
...,...,...,...,...,...,...,...,...,...
151,Rwanda,0.555,0.359,0.217,0.614,152,0.411,3.334,0.711
152,Tanzania,0.417,0.476,0.276,0.499,153,0.147,3.231,0.885
153,Afghanistan,0.000,0.350,0.158,0.361,154,0.025,3.203,0.517
154,Central African Republic,0.225,0.026,0.235,0.105,155,0.035,3.083,0.000
155,South Sudan,0.010,0.306,0.202,0.295,156,0.091,2.853,0.575

In [8]:
data.describe().T

,count,mean,std,min,25%,50%,75%,max
Freedom to make life choices,312.0,0.423538,0.156024,0.000,0.32250,0.4495,0.54025,0.724
GDP per capita,312.0,0.898298,0.394592,0.000,0.60950,0.9600,1.21950,2.096
Generosity,312.0,0.182926,0.096739,0.000,0.10875,0.1755,0.24500,0.598
Healthy life expectancy,312.0,0.661295,0.252724,0.000,0.48825,0.6990,0.85800,1.141
Overall rank,312.0,78.500000,45.104737,1.000,39.75000,78.5000,117.25000,156.000
Perceptions of corruption,311.0,0.111299,0.095365,0.000,0.05000,0.0820,0.14050,0.457
Score,312.0,5.391506,1.114631,2.853,4.51425,5.3795,6.17600,7.769
Social support,312.0,1.211026,0.300310,0.000,1.05575,1.2655,1.45750,1.644

In [9]:
data.rename(columns={
    "Overall rank": "rank",
    "Score": "score",
    "GDP per capita": "gdp",
    "Social support": "social",
    "Healthy life expectancy": "healthy",
    "Freedom to make life choices": "freedom",
    "Generosity": "generosity",
    "Perceptions of corruption": "corruption"
}, inplace=True)
del data["rank"]